/* 
    Created on : 8 nov. 2024
    Author     : Ahfelbrom
*/
html, body {
  height: 100%;
  margin: 0;
}

body {
    background-color: #FAF3E0;
    font-family: Roboto;
    display: flex;
    flex-direction: column;
}

.content {
  flex: 1; /* Permet au contenu de prendre tout l'espace disponible */
}

footer {
  text-align: center;
}

h1,h2,h3,h4,h5,h6 {
    font-family: Montserrat;
}

.btn-primary,.bg-primary, body header {
    background-color: #4CAF50 !important;
    border-color: #4CAF50 !important;
}
.btn-primary:hover,.bg-primary:hover {
    background-color: #449C47 !important;
    border-color: #449C47 !important;
}
.btn-secondary,.bg-secondary {
    background-color: #FF5722 !important;
    border-color: #FF5722 !important;
}
.btn-secondary:hover,.bg-secondary:hover {
    background-color: #F53900 !important;
    border-color: #F53900 !important;
}
.btn-info,bg-info {
    background-color: #FFEB3B !important;
    border-color: #FFEB3B !important;
}
.btn-info:hover,bg-info:hover {
    background-color: #FFE70A !important;
    border-color: #FFE70A !important;
}

/* Style pour surligner la semaine survolée */
.highlight-week a{
    background-color: #6F8292 !important;
}